/*************************************
 Theme: Sublime - Derived From: Sublime  
 *************************************/
 #bd{min-height:40em;_height:40em}
 #zB .modWrap,#zC .modWrap{min-height:21em;_height:21em}
 #doc{padding:1px 0 20px;width:880px}
 #hContent{margin:35px 10px 0 300px;width:572px}
 #hMisc{display:none}
 #navigation{position:relative;width:158px;float:left;display:inline;margin:70px 0 0 101px}
 ul#mainNav li{margin-bottom:1px}
 ul#mainNav li a{_zoom:1;display:block;padding:4px 3px 4px 15px}
 #bd{float:left;width:580px;margin:75px 0 40px 40px}
 #pageName{display:none;margin:0 0 10px 0;width:573px}
 #zB #mapZone{width:235px;height:235px}
 #zB #drivingDirectionsLnk{top:240px}
 #zC form#contactForm{width:196px}
 #ft{margin:0 0 0 300px}
 #fContent{float:right;width:267px;margin-right:8px;display:inline}
 #fMisc{float:left;width:273px}
 #hContent,#pageName,#zA{padding-right:2px}
 #zB .modWrap,#zC .modWrap{overflow:hidden;_overflow:visible;_overflow-x:hidden;}
 #fBadges {text-align:center;}
 #fBadges a {margin:0 7px;}
 #body .sub_static #mainNav .subNav a {padding-left: 25px;}
 
 
 /*************************************
 Theme: Sublime - Derived From: Sublime  
 *************************************/
 
 	
 	
 		
 		#body {
 			font-size: 12px;
 			line-height: 1.5;
 			font-family: Verdana, Arial, Helvetica, sans-serif;
 		}
 
 		
 		p {
 		}		
 
 		
 		hr {
 		}		
 		
 		
 		#body h1 {
 			font-size:25px;
 		}
 		
 		
 		#body h2 {
 			font-weight: bold;
 			font-size: 16px;
 			text-transform: uppercase;
 		}
 
 		
 		#body h3 {
 			font-size: 14px;		
 			font-weight: bold;
 			text-transform: uppercase;			
 		}
 		
 		#zB h3,
 		#zC h3 {
 			font-size: 13px;
 		}
 
 		
 		#body h4 {
 			font-size: 16px;
 			font-weight: bold;
 			margin-bottom: 2px;
 			font-size: 12px;		
 		}
 
 		
 		#hd {
 		
 		}
 		
 		
 		#zB,
 		#zC {
 			font-size:11px;
 		}
 
 		
 		#ft {
 			font-size:11px;
 		}
 
 		#fContent {
 			text-align:right;
 			font-size:9px;
 		}
 
 		
 		#hMisc,#fMisc {
 		}
 
 		
 		#fContent {
 		}
 
 
 		#body a:link,
 		#body a:visited {
 			font-weight: bold;
 		}
 		
 		
 		ul#mainNav li a:link,
 		ul#mainNav li a:visited {
 			font-size: 1.25em;
 			font-weight: bold;
 		}
 
 
 		#body  {
 			background-repeat:no-repeat;
 		}
 
 
 		#zB .modWrap,
 		#zC .modWrap {
 			border-width:2px;
 			border-style:solid;
 		}
 
 
 		/* 
 		 * direction and color of the arrow (assuming arrow sprite)
 		 */
 		#body .toggle img {
 			background-position: -552px -24px; 
 		}
 	
 		/* 
 		 * direction and color of the arrow for the "active" item
 		 */
 		#body .active .toggle img {
 			background-position: -60px -24px; 
 		}
 	
 		/* 
 		 * links for BOTH static and dynamic sub menus 
 		 * use this rule to group declarations common to the two different types of menus (static/dynamic)
 		 */
 		#body #mainNav .subNav a {
 			font-size: 13px; 
 			font-family: verdana; 
 			font-weight: normal; 
 		}
 
 		/* 
 		 * :hover and selected (active) links for BOTH static and dynamic sub menus
 		 * they are both styled the same 
 		 */
 		/* 
 		 * links for static sub menus
 		 */
 		/* 
 		 * sub menus (fly-out) 
 		 */
 		#body .sub_dynamic #mainNav .subNav {
 			border-style: solid; 
 			border-width: 1px; 
 		}
 		
 		/* 
 		 * background color bug in IE6
 		 */
 
 
 
 
 /****************************************
 Theme: Sublime - Derived From: Sublime
 Layout: Layout 1 - Derived from: Layout 1
 ****************************************/
 .lo_custom #zA, .lo_standard #zA {width:573px;width:_578px}
 .lo_custom #zB, .lo_standard #zB, .lo_custom #zC, .lo_standard #zC {width:280px;float:left}
 .lo_custom #zC, .lo_standard #zC {float:right;margin-left:0}
 .lo_custom #zB .modWrap, .lo_standard #zB .modWrap, .lo_custom #zC .modWrap, .lo_standard #zC .modWrap {padding:20px}
 
 
 /****************************************
 Theme: Sublime - Derived From: Sublime
 Layout: Layout 1 - Derived from: Layout 1
 ****************************************/
 
 
 /***************************************************
 Theme: Sublime - Derived From: Sublime
 Layout: Layout 1 with Title - Derived from: Layout 1
 ***************************************************/
 .lo_standard #pageName {display:block;padding:0 0 10px 0}
 .lo_standard #pageName h2 {font-size:18px;color:#515655;text-transform:uppercase}
 
 
 /***************************************************
 Theme: Sublime - Derived From: Sublime
 Layout: Layout 1 with Title - Derived from: Layout 1
 ***************************************************/
 
 
 /**************************************************************
 Theme: Sublime - Derived From: Sublime
 Layout: Layout 2 with Title - Derived from: Layout 2 with Title
 **************************************************************/
 .lo_layout2wt #pageName {display:block;padding:0 0 10px 0}
 .lo_layout2wt #pageName h2 {font-size:18px;color:#515655;text-transform:uppercase}
 .lo_layout2wt #zA {float:left;width:58%;margin-bottom:30px;}
 .lo_layout2wt #zB {clear:left;float:left;width:58%;}
 .lo_layout2wt #zC {width:38%;}
 .lo_layout2wt #zC .modWrap {padding:20px;}
 .lo_layout2wt #zC {margin-left:auto;}
 .lo_layout2wt #zC,x:-moz-any-link {margin-left:4%;}
 .lo_layout2wt #zC,x:-moz-any-link,x:default {margin-left:auto;}
 .lo_layout2wt #zB #mapZone {width:260px;height:270px;}
 .lo_layout2wt #zB #drivingDirectionsLnk {top:275px;}
 .lo_layout2wt #zC form#contactForm {width:80%;max-width:300px;}
 
 
 /**************************************************************
 Theme: Sublime - Derived From: Sublime
 Layout: Layout 2 with Title - Derived from: Layout 2 with Title
 **************************************************************/
 .lo_layout2wt #zB .modWrap {border-style:none;}
 
 #body {
 	color: #555555;
 }
 
 #body a:link,
 #body a:visited {
 	color:#7bbddd;
 }
 		
 #body a:hover,
 #body a:active,
 #body a:focus {
 	text-decoration:none;
 }			
 
 ul#mainNav li a:link,
 ul#mainNav li a:visited {
 	color: #555555;
 }
 
 ul#mainNav li a:hover,
 ul#mainNav li a:active,
 ul#mainNav li a:focus,
 ul#mainNav li.active a:link,
 ul#mainNav li.active a:visited {
 	color: #ffffff;
 }
 
 #body  {
 	background-color: #ffffff;
 	background-image:  url(images/poundbody.jpg);
 }
 
 #zB .modWrap,
 #zC .modWrap {
 	background-color:#ffffff;
 }
 
 ul#mainNav li a:hover,
 ul#mainNav li a:active,
 ul#mainNav li a:focus,
 ul#mainNav li.active a:link,
 ul#mainNav li.active a:visited {
 	background-color: #7bbddd;
 }
 
 #zB .modWrap,
 #zC .modWrap {
 	border-color:#7bbddd;
 }
 
 #body #mainNav .subNav a {
 	background-color: #EBF1F1; 
 	color: #555555; 
 }
 
 #body #mainNav .subNav a:hover,
 #body #mainNav .active-sub a {
 	background-color: #99CCE5 !important; 
 	color: #FFFFFF; 
 }
 		 
 #body .sub_static #mainNav .subNav a {
 	background-image:none;
 	background-color:transparent;
 }
 	
 #body .sub_dynamic #mainNav .subNav {
 	border-color: #C4CCCF; 
 }
 		
 #body .active {
 	background-image:none;
 	background-color:transparent;
 }
 
 .lo_layout2wt #zB .modWrap {
 	background-color: transparent;
 	border-color: transparent;
 }
 	